<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>programmer_art</key>
	<dict>
		<key>bomb</key>
		<string>Content/Resources/bomb.png</string>
		<key>number 1</key>
		<string>Content/Resources/number 1.png</string>
		<key>number 2</key>
		<string>Content/Resources/number 2.png</string>
		<key>number 3</key>
		<string>Content/Resources/number 3.png</string>
		<key>number 4</key>
		<string>Content/Resources/number 4.png</string>
		<key>number 5</key>
		<string>Content/Resources/number 5.png</string>
		<key>number 6</key>
		<string>Content/Resources/number 6.png</string>
		<key>number 7</key>
		<string>Content/Resources/number 7.png</string>
		<key>number 8</key>
		<string>Content/Resources/number 8.png</string>
		<key>question mark</key>
		<string>Content/Resources/question mark.png</string>
		<key>flag</key>
		<string>Content/Resources/flag.png</string>
	</dict>
</dict>
</plist>
